<section id="sobre-mi" class="sobre-mi">
  <div class="sobre-mi-container">
    <!-- Bloque foto -->
    <div class="foto">
      <img src="img/fotoJona.png" alt="Mi Foto">
    </div>

    <!-- Bloque información -->
    <div class="info">
      <h2>Jonathan Hidalgo Ruiz</h2>
      <h3>{{ "aboutMe.puesto" | translate }}</h3>
      <p class="letraInfo">
        {{ 'aboutMe.parrafo1' | translate }}
        {{ 'aboutMe.parrafo2' | translate }}
        {{ 'aboutMe.parrafo3' | translate }}
      </p>
    </div>

  </div>
</section>


<!-- <h1>{{ 'frasePrincipal' | translate }}</h1>
<p>{{ 'saludo' | translate }}</p>
<nav>
<a>{{ 'menu.inicio' | translate }}</a>
<a>{{ 'menu.contacto' | translate }}</a>
</nav> -->
