.contact-box {
  width: 760px;
  height: auto;
  margin: 0 auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(145deg, #001f3f, #003b7a);

  box-shadow:
    0 0 6px rgba(0, 255, 255, 0.4),
    0 0 12px rgba(0, 255, 255, 0.25);

  border: 2px solid rgba(0, 255, 255, 0.7);
}

.contact-box h2 {
  font-size: 36px;
  text-decoration: underline;
  margin-bottom: 30px;
}

.contact-box form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  gap: 16px;
}

.contact-box input,
.contact-box textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.contact-box textarea {
  min-height: 150px;
  max-height: 200px;
  resize: vertical;
}

.contact-box button {
  padding: 12px 24px;
  margin-bottom: 20px;
  background-color: #0b0b66;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  transition: background 0.2s ease;
}

.contact-box button:hover {
  background-color: #1212a0;
}

.contact-box button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

@media (max-width: 1024px) {

  .contact-box {
    width: auto;
    padding: 26px;
    margin: 0 10px;
  }

  .contact-box h2 {
    font-size: 32px;
  }

  .contact-box form {
    max-width: 600px;
  }

  .contact-box input,
  .contact-box textarea {
    font-size: 15px;
  }

  .contact-box button {
    font-size: 18px;
    padding: 12px 20px;
  }
}

/* Móvil grande */
@media (max-width: 767px) {


  .contact-box {
    width: auto;
    padding: 22px;
    margin: 0 10px;
  }

  .contact-box h2 {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .contact-box form {
    gap: 14px;
  }

  .contact-box input,
  .contact-box textarea {
    font-size: 15px;
    padding: 10px;
  }

  .contact-box textarea {
    min-height: 130px;
  }

  .contact-box button {
    padding: 10px 18px;
    font-size: 17px;
  }
}

/* Movil pequeño */
@media (max-width: 376px) {

  .contact-box {
    width: auto;
    padding: 18px;
    margin: 0 10px;
  }

  .contact-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-box form {
    gap: 12px;
  }

  .contact-box input,
  .contact-box textarea {
    font-size: 14px;
    padding: 9px;
  }

  .contact-box textarea {
    min-height: 120px;
  }

  .contact-box button {
    font-size: 16px;
    padding: 10px 16px;
  }
}