<footer class="footer">
  <div class="footer-container">
    <div class="footer-sections">
      <h2>Secciones</h2>
      <ul>
        <li><a href="#sobre-mi">Sobre mí</a></li>
        <li><a href="#tecnologias">Tecnologías</a></li>
        <li><a href="#proyectos">Proyectos personales</a></li>
        <li><a href="#experiencia">Mi experiencia</a></li>
        <li><a href="#contactar">Contactar</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h2>Redes sociales</h2>
      <a href="mailto:jonathan.hidalgo.ruiz11@gmail.com" target="_blank" aria-label="Email">
        <span class="icon"><img class="email-Icon" src="img/correo.png" alt="Email"></span>
      </a>
      <a href="https://linkedin.com/in/jonathan-hidalgo-ruiz-a9a2582a6" target="_blank" aria-label="LinkedIn">
        <span class="icon"><img class="linkedIn-Icon" src="img/linkedinIcon.png" alt="LinkedIn"></span>
      </a>
    </div>
  </div>
</footer>