.footer {
  margin-top: 60px;
  background-color: #020072;
  color: #ffffff;
  padding: 2rem 1rem;
  font-family: sans-serif;

  a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-sections, .footer-social {
    margin: 1rem 0;
  }

  .footer-sections ul {
    list-style: none;
    padding: 0;
    li {
      margin: 0.5rem 0;
    }
  }

  .footer-social a {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}
.email-Icon{
    width: 50px;
    height: 40px;
    padding: 5px;
}

.linkedIn-Icon{
    width: 50px;
    height: 50px;
    padding: 5px;
}