//Project section styles
.card {
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  background: linear-gradient(145deg, #001f3f, #001f40);

  box-shadow:
    0 0 6px rgba(0, 255, 255, 0.4),
    0 0 12px rgba(0, 255, 255, 0.25);

  border: 2px solid rgba(0, 255, 255, 0.7);
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon {
  width: 170px;
  height: 145px;
  margin-right: 12px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.title {
  font-size: clamp(24px, 5vw, 36px); /* se adapta al tamaño de pantalla */
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 30px;
  text-align: left;
}

.enlace{
  color: inherit;
}

.description {
    font-size: 28px;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    line-height: 1.5;
}


@media (max-width: 1024px) {

  .card {
    padding: 18px;
  }

  .container {
    flex-direction: row;
  }

  .icon {
    width: 140px;
    height: 120px;
  }

  .title {
    font-size: 28px;
    margin-top: 20px;
  }

  .description {
    font-size: 22px;
    margin-top: 25px;
  }
}


/* Móvil grande */
@media (max-width: 767px) {

  .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    width: 130px;
    height: 110px;
    margin: 0 auto;
  }

  .title {
    margin: 15px 0 10px 0;
    text-align: center;
    font-size: 26px;
  }

  .description {
    margin-left: 0;
    text-align: center;
    font-size: 20px;
  }
}

/* Movil pequeño */
@media (max-width: 376px) {

  .card {
    padding: 15px;
  }

  .icon {
    width: 110px;
    height: 95px;
  }

  .title {
    font-size: 22px;
  }

  .description {
    font-size: 18px;
  }
}