<div class="ribbon-wrapper">
    <div class="ribbon-track">
        <img src="img/AngularIcon.png" alt="Angular">
        <img src="img/Spring_Boot.png" alt="Spring Boot">
        <img src="img/JavaScript.png" alt="JavaScript">
        <img src="img/TypeScript.png" alt="TypeScript">
        <img src="img/htmlIcon.png" alt="HTML5">
        <img src="img/CSSIcon.png" alt="CSS3">
        <!--Repetir los iconos para un efecto continuo -->
        <img src="img/AngularIcon.png" alt="Angular">
        <img src="img/Spring_Boot.png" alt="Spring Boot">
        <img src="img/JavaScript.png" alt="JavaScript">
        <img src="img/TypeScript.png" alt="TypeScript">
        <img src="img/htmlIcon.png" alt="HTML5">
        <img src="img/CSSIcon.png" alt="CSS3">
    </div>
</div>