.ribbon-wrapper {
  overflow: hidden;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.ribbon-track {
  display: flex;
  gap: 200px;
  white-space: nowrap;
  animation: scrollRibbon 10s linear infinite;
}

.ribbon-track img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  flex-shrink: 0; /* evita que los iconos se compriman */
}

@keyframes scrollRibbon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-106.5%);
  }
}

@media (max-width: 768px) {
  .ribbon-track {
    gap: 66.75px;
  }
  .ribbon-track img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 480px) {
  .ribbon-track {
    gap: 15px;
  }
  .ribbon-track img {
    width: 60px;
    height: 60px;
  }
}