<section id="tecnologias" class="tech-section">
  <h2>{{"tecnologias.titulo" | translate}}</h2>

  <!-- Frontend -->
  <div class="top-boxes">
    <div>
      <h3>{{"tecnologias.frontend" | translate}}</h3>
      <div class="tech-box">
        <div class="tech-grid">

          <div class="tech-item">
            <img src="img/htmlIcon.png" alt="HTML5">
            <h4 class="title-tecnology">HTML5</h4>
          </div>

          <div class="tech-item">
            <img src="img/CSSIcon.png" alt="CSS3">
            <h4 class="title-tecnology">CSS3</h4>
          </div>

          <div class="tech-item">
            <img src="img/bootstrapIcon.png" alt="bootstrap">
            <h4 class="title-tecnology">Bootstrap</h4>
          </div>

          <div class="tech-item">
            <img src="img/JavaScript.png" alt="JavaScript">
            <h4 class="title-tecnology">JavaScript</h4>
          </div>

          <div class="tech-item">
            <img src="img/TypeScript.png" alt="TypeScript">
            <h4 class="title-tecnology">TypeScript</h4>
          </div>

          <div class="tech-item">
            <img src="img/AngularIcon.png" alt="Angular">
            <h4 class="title-tecnology">Angular</h4>
          </div>

        </div>
      </div>
    </div>

    <!-- Backend -->
    <div>
      <h3>{{"tecnologias.backend" | translate}}</h3>
      <div class="tech-box">
        <div class="tech-grid">
          <div class="tech-item">
            <img src="img/javaIcon.png" alt="Java">
            <h4 class="title-tecnology">Java</h4>
          </div>

          <div class="tech-item">
            <img src="img/Spring_Boot.png" alt="Spring Boot">
            <h4 class="title-tecnology">Spring Boot</h4>
          </div>

          <div class="tech-item">
            <img src="img/PHP-logo.svg" alt="PHP">
            <h4 class="title-tecnology">PHP</h4>
          </div>

          <div class="tech-item">
            <img src="img/LaravelIcon.png" alt="Laravel">
            <h4 class="title-tecnology">Laravel</h4>
          </div>

          <div class="tech-item">
            <img src="img/Python-Icon.png" alt="Python">
            <h4 class="title-tecnology">Python</h4>
          </div>

          <div class="tech-item">
            <img src="img/Node-js.png" alt="Node.js">
            <h4 class="title-tecnology">Node.js</h4>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Herramientas -->
   <div>
      <h3>{{"tecnologias.herramientas" | translate}}</h3>
      <div class="tools-box">
        <div class="tech-grid-tools">
          <div class="tech-item">
            <img src="img/Git_icon.png" alt="Git">
            <h4 class="title-tecnology">Git</h4>
          </div>

          <div class="tech-item">
            <img src="img/Jira.png" alt="Jira">
            <h4 class="title-tecnology">Jira</h4>
          </div>

          <div class="tech-item">
            <img src="img/postmanIcon.png" alt="Postman">
            <h4 class="title-tecnology">Postman</h4>
          </div>

          <div class="tech-item">
            <img src="img/mysqlIcon.png" alt="MySQL">
            <h4 class="title-tecnology">MySQL</h4>
          </div>

          <div class="tech-item">
            <img src="img/Figma-logo.svg" alt="Figma">
            <h4 class="title-tecnology">Figma</h4>
          </div>

          <div class="tech-item">
            <img src="img/miroIcon.png" alt="Miro">
            <h4 class="title-tecnology">Miro</h4>
          </div>

          <div class="tech-item">
            <img src="img/xamppIcon.png" alt="XAMPP">
            <h4 class="title-tecnology">XAMPP</h4>
          </div>

          <div class="tech-item">
            <img src="img/Apache_Tomcat_Icon.png" alt="ApacheTomcat">
            <h4 class="title-tecnology">Apache Tomcat</h4>
          </div>
        </div>
      </div>
   </div>

</section>