.tech-section {
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

.tech-section h2 {
  font-size: 96px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.tech-section h3 {
  font-size: 46px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.top-boxes {
  display: flex;
  justify-content: center;
  gap: 59px;
  margin-bottom: 50px;
}

.tech-box,
.tools-box {
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  background: linear-gradient(145deg, #001f3f, #003b7a);
  border-radius: 20px;
  padding: 20px;

  box-shadow:
    0 0 6px rgba(0, 255, 255, 0.4),
    0 0 12px rgba(0, 255, 255, 0.25);

  border: 2px solid rgba(0, 255, 255, 0.7);
}

.tech-box {
  width: 588px;
  height: 680px;
}

.tools-box {
  width: 1282px;
  height: 420px;
  margin: 0 auto;
}

.tech-grid-tools {
  padding: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  gap: 25px;
  overflow-y: auto; 
}

/* TITULO DE CADA CAJA */
.title {
  position: absolute;
  bottom: 20px;
  font-size: 22px;
  color: #000;
}

.tech-grid {
  padding: 30px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 25px;
  overflow-y: auto; 
}

/* TECNOLOGIA */
.tech-item {
  text-align: center;
}

.tech-item img {
  width: 80%;
  height: auto;
  max-height: 120px;
  object-fit: contain;
}

.title-tecnology {
  margin-top: 10px;
  color: #ffffff;
  font-size: 18px;
}


/* Tablet */
@media (max-width: 1024px) {

  .contenedor-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
  }
  
  /* Titulos */
  .tech-section h2 {
    font-size: 70px;
  }

  .tech-section h3 {
    font-size: 34px;
  }

  /* Cajas */
  .tech-box {
    width: 300px;
    height: 500px;
  }

  .tools-box {
    width: 90%;
    height: 325px;
  }

  /* Grids */
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .tech-grid-tools {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Imágenes */
  .tech-item img {
    width: 70px;
    max-height: 70px;
  }

  /* Texto dentro de items */
  .title-tecnology {
    margin-top: 20px;
    font-size: 16px;
  }
}



/* Móvil grande */
@media (max-width: 767px) {

  .contenedor-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  
  .top-boxes {
    gap: 15px;
  }

  /* Títulos */
  .tech-section h2 {
    font-size: 48px;
  }

  .tech-section h3 {
    font-size: 26px;
  }

  /* Cajas */
  .tech-box {
    max-width: 168px;
    height: 300px;
    padding: 15px;
  }

  .tools-box {
    max-width: 350px;
    height: 218px;
  }

  /* Grids */
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    gap: 0px;
  }

  .tech-grid-tools {
    padding: 0px;
    grid-template-columns: repeat(4, 1fr);
  }

  /* Imágenes */
  .tech-item img {
    width: 30px;
    max-height: 30px;
  }

  /* Texto */
  .title-tecnology {
    font-size: 15px;
  }
}



/* Móvil pequeño */
@media (max-width: 376px) {

  .contenedor-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
  }
  
  .top-boxes {
    gap: 15px;
  }

  /* Títulos */
  .tech-section h2 {
    font-size: 48px;
  }

  .tech-section h3 {
    font-size: 26px;
  }

  /* Cajas */
  .tech-box {
    max-width: 140px;
    height: 280px;
  }

  .tools-box {
    max-width: 300px;
    height: 200px;
  }

  /* Grids */
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    gap: 0px;
  }

  .tech-grid-tools {
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
  }

  /* Imágenes */
  .tech-item img {
    width: 30px;
    max-height: 30px;
  }

  /* Texto */
  .title-tecnology {
    font-size: 12px;
  }
}