/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: radial-gradient(circle at center, #1442a5 0%, #000000 70%);
  height: 100vh;
  color: white;
}