.tabs-container {
  width: 1322px;
  margin: 60px auto;
  border-radius: 14px;
  display: flex;
  flex-direction: column;

  background: linear-gradient(145deg, #001f3f, #003b7a);

  box-shadow:
    0 0 6px rgba(0, 255, 255, 0.4),
    0 0 12px rgba(0, 255, 255, 0.25);

  border: 2px solid rgba(0, 255, 255, 0.7);
}

/* CABECERA DE TABS */
.tabs-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}
.tabs-header #primerBoton{
  border-right: 2px solid #ffffff;
}

/* BOTONES DE TAB */
.tabs-header button {
  width: 50%;
  padding: 12px 0;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease, border-bottom 0.25s ease;
  border-bottom: 3px solid transparent;
  color: #ffffff;
}

.tabs-header button:hover {
  color: #707070;
}

/* TAB ACTIVO */
.tabs-header button.active {
  color: #707070;
  border-bottom-color: rgba(0, 255, 255, 0.7);
}

/* CONTENIDO INTERIOR */
.tabs-content {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 16px;
}

app-project-box {
  display: block;
  width: 100%;
  padding: 18px;
  
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

app-project-box:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

@media (max-width: 1024px) {

  .tabs-container {
    padding: 18px;
    width: auto;
    margin: 50px 10px;
  }

  .tabs-header button {
    font-size: 22px;
    padding: 10px 0;
  }
}


/* Móvil grande */
@media (max-width: 767px) {

  .tabs-container {
    width: auto;
    margin: 40px 10px;
    padding: 16px;
  }

  .tabs-header {
    flex-direction: column;
    border-bottom: none;
  }

  .tabs-header #primerBoton {
    border-right: none;
    border-bottom: 2px solid white;
  }

  .tabs-header button {
    width: 100%;
    font-size: 20px;
    padding: 14px 0;
    border-bottom: 2px solid #fff;
  }

  .tabs-header button.active {
    border-bottom-color: rgba(0, 255, 255, 0.7);
  }

  app-project-box {
    padding: 15px;
  }

  .tabs-content {
    gap: 12px;
  }
}


/* Móvil pequeño */

@media (max-width: 480px) {

  .tabs-container {
    width: auto;
    padding: 12px;
    margin: 40px 10px;
  }

  .tabs-header button {
    font-size: 18px;
    padding: 12px 0;
  }

  app-project-box {
    padding: 12px;
  }

  .tabs-content {
    gap: 10px;
  }
}